/* Widget Styling CSS

- ANIMATION PACE cubic-bezier(0, 0.275, 0.125, 1) 0s
- ACCENT COLOR #0289C0
- ACCENT HOVER #0D5F83

 Author: Obox Themes
 Author URI: http://www.oboxthemes.com/
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url(icons.css);

/*------------------------------------*/
/*- CUSTOMIZER Look&Feel OVERRIDES ---*/
#customize-theme-controls .accordion-section-content{
    background: #fff; /*-- Make the accordions white --*/
}

/*------------------------------------*/
/*- HIDE LAYERS WIDGETS IN APPEARANCE */
div#widgets-right .widgets-sortables{
    padding-bottom: 1px;
}
.widget-holder div[id*='layers-widget'],
.widget-holder.inactive div[id*='obox-layers-builder'],
.widgets-php #widget-list [id*='layers-widget'],
div#widgets-right .widgets-sortables [id*='layers-widget'],
div#widgets-right div[id*='obox-layers-builder']{
    display: none;
}
.widgets-holder-wrap{
    border-width: 0px;
}
.widgets-holder-wrap .widget{
    border-width: 1px;
}

/*----------------------------------*/
/*- HIDING NONE LAYERS WIDGETS ------*/
#available-widgets .widget-tpl{}
#available-widgets .widget-tpl[id*='layers-widget']{
    /* display: block !important; */
    border-right: 4px solid #00A4EC;
}

.layers-hide{
    display: none !important;
}

.layers-soft-hide{
    visibility: hidden;
}


/*----------------------------------*/
/*- WORDPRESS RESETS / OVERRIDES ---*/

    /*---------------------------*/
    /*- WIDGET COLOR STYLING ----*/

    /*- Layers Badge -*/
    .customize-control-widget_form.wide-widget-control div[id*='layers-widget'] .widget-top h4:before{
        content: "\e62f";
        font-size: 11px;
        color: #00A4EC;
        font-family: "layers-interface";
        text-align: center;
        padding: 1px 0px 0px;
        border: 0px none;
        display: inline-block;
        margin-right: 8px;
    }
    .customize-control-widget_form.wide-widget-control.layers-focussed div[id*='layers-widget'] .widget-top h4:before{
        color: #fff;
    }
    /*- Layers Widget Loading -*/
    .customize-control-widget_form.wide-widget-control div[id*='layers-widget'] .widget-top:after{
        /* background-image: url( images/spinner-on-blue.gif ); */
        /* background-position: 50% 50%; */
        /* background-repeat: no-repeat; */
        /* background-color: #0BA6E0; */
        color: #FFF9F7;
        font-size: 10px;
        font-weight: 900;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition: 0s !important;
        width: auto;
        height: auto;
        line-height: 17px;
        border-radius: 40px;
        padding: 0 6px;
        content: "Loading";
        position: absolute;
        right: 6px;
        top: 15px;
        opacity: 0;
    }
    .customize-control-widget_form.wide-widget-control.layers-loading div[id*='layers-widget'] .widget-top:after{
        opacity: 1;
    }
    .customize-control-widget_form.wide-widget-control.layers-loading div[id*='layers-widget'] .widget-top .widget-title-action{
        opacity: 0;
    }

    /*- Layers Widget Rendered -*/
    .customize-control-widget_form.wide-widget-control:not(.widget-rendered) .widget-top{
        opacity: 1;
    }

    /*- Layers Widget Focussed -*/
    .customize-control-widget_form.wide-widget-control.expanded:not(.layers-collapsing) .widget-top{
        background-color: #FAFAFA;
    }
    .customize-control-widget_form.wide-widget-control.layers-focussed .widget .widget-top{
        background: #0BA6E0 !important;
        border-color: #0E77A5;
        color: #3D454E;
    }
    .customize-control-widget_form.wide-widget-control.expanded .widget .widget-top,
    .customize-control-widget_form.wide-widget-control.layers-focussed .widget .widget-top{
        -webkit-transition: 0s !important;
        transition: 0s !important;
    }
    .customize-control-widget_form.wide-widget-control.layers-focussed .widget .widget-top:hover{
        background: #0BA6E0;
        border-color: #053E57 !important;
        color: #3D454E;
	}
    .customize-control-widget_form.wide-widget-control.layers-focussed .widget .widget-top .widget-title h4{
        color: #fff;
    }
    .customize-control-widget_form.wide-widget-control.layers-focussed .widget .widget-top .widget-title .in-widget-title{
        color: rgba(255, 255, 255, 0.8);
    }

    /*- Expanded Arrow Tip -*/
    .customize-control-widget_form.wide-widget-control.layers-focussed a.widget-action:after{
        color: #fff;
    }

    /*- Layers Badge in Widget Selection Tray -*/
    #available-widgets div[id*='layers-widget'].widget .widget-title:after{
        content: "\e62f";
        font-size: 12px;
        color: #00A4EC;
        font-family: 'layers-interface';
        text-align: center;
        position: absolute;
        top: -1px;
        right: 0;
    }

    /*---------------------------*/
    /*- WIDGET SETTINGS POP OUT -*/

    /*-- Static --*/
    .customize-control-widget_form.wide-widget-control div[id*='layers-widget'] .widget-inside{
        width: 660px;
        height: 100%;
        max-height: none;
        padding: 0 !important;
        top: 0 !important;
        border-top: none !important;
        border-right: none !important;
        opacity: 0;
        z-index: 2;
        overflow: hidden;
        box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
        transform: translate3d(-10px, 0, 0);
        transition: all 0.2s ease-in-out;
        background-image: url(images/spinner-on-white.gif);
        background-position: 50% 20%;
        background-repeat: no-repeat;
        background-color: #F5F5F5;
    }
    /*-- Open --*/
    .customize-control-widget_form.wide-widget-control.expanded div[id*='layers-widget'] .widget-inside{
        opacity: 1;
        box-shadow: 5px 0 18px rgba(0, 0, 0, 0.2), 4px 0 4px rgba(0, 0, 0, 0.10);
        overflow-y: visible;
        transform: translate3d(0, 0, 0);
    }
    /*-- Closing --*/
    .customize-control-widget_form.wide-widget-control.expanded.layers-collapsing div[id*='layers-widget'] .widget-inside{
        transform: translate3d(-10px, 0, 0);
        opacity: 0;
    }
    /*-- Peek --*/
    .customize-control-widget_form.wide-widget-control.expanded div[id*='layers-widget'] .widget-inside{
        z-index: 1000;
        transition: all .15s ease-in-out;
    }
    .customize-control-widget_form.wide-widget-control.expanded.layers-peek div[id*='layers-widget'] .widget-inside{
        transform: translateX(-660px);
    }
    .customize-control-widget_form.wide-widget-control.expanded.layers-peek div[id*='layers-widget'] .widget-inside:after{
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #383838;
        z-index: 100000;
        width: 100%;
        height: 100%;
    }

    .customize-control-widget_form.wide-widget-control div[id*='layers-widget'] .widget-inside .form{
        padding: 0 !important;
        height: 100%;
        min-width: 660px;
        position: relative;
        /* opacity: 0; */
        /* transform: translate3d(-20px, 0, 0); */
        transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
        overflow: scroll;
        background-color: white;
        opacity: 1;
    }
    .customize-control-widget_form.wide-widget-control.expanded div[id*='layers-widget'] .widget-inside .form{
        /* opacity: 1; */
        /* transform: translate3d(0, 0, 0); */
        overflow: auto;
    }
    .customize-control-widget_form.wide-widget-control.layers-collapsing div[id*='layers-widget'] .widget-inside .form{
        /* opacity: 1; */
        /* transition-delay: 0.2s; */
    }

    /*- COLLAPSED SIDEBAR ------------*/
    .collapsed .customize-control-widget_form.wide-widget-control div[id*='layers-widget'] .widget-inside{
        width: 0;
        left: -300px;
        transition-delay: none;
    }
    .collapsed .customize-control-widget_form.wide-widget-control div[id*='layers-widget'] .widget-inside .form{
        opacity: 0;
        transition-delay: none;
    }

    /*---------------------------*/
    /*- PRESET / THEME LISTS ----*/
    .layers-browser{
        overflow: hidden;
    }
    .layers-products{
        clear: both;
        padding: 0 0 100px;
    }
    .layers-product{
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        margin: 0 2% 2% 0;
        position: relative;
        width: 31%;
        border: 1px solid #dedede;
    }
    .layers-product:nth-child(3n+3){
        margin-right: 0;
    }
    .layers-product:hover{
        border: 1px solid #009eec;
    }
    .layers-product-screenshot{
        height: 296px;
        overflow-x: hidden;
    }
    .layers-product-screenshot img{
        width: 100%;
        display: block;
    }
    .layers-product-name{
        height: 18px;
        margin: 0px;
        padding: 15px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.65);
        border-top: 1px solid #dedede;
        font-size: 15px;
        font-weight: 600;
        color: #000;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .layers-product-actions{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 9px 10px 0px;
        height: 38px;
    }

    .blank-product{
        border: 2px dashed #ccc;
        background: #fff;
    }
    .blank-product .layers-product-screenshot{
        height: 295px;
    }
    .blank-product .layers-product-name{
        background: none;
        text-align: center;
        border-top: none;
    }
    .blank-product:hover{
        background-color: #009eec;
        border: 2px dashed transparent;
        transition: all 0.2s ease-in-out;
    }
    .blank-product:hover .layers-product-name{
        color: #fff;
        transition: all 0.2s ease-in-out;
    }

    /*---------------------------*/
    /*- MARKETPLACE LISTS ----*/
    #layers-marketplace .theme-wrap{
        max-width: 1260px;
    }

    #layers-marketplace .layers-help-search{
        width: 45%;
        text-align: right;
    }

    #layers-marketplace .layers-help-search label{
        position: relative;
        top: -2px;
        font-size: 11px;
        text-transform: uppercase;
        color: #777;
        font-weight: 600;
    }

    #layers-marketplace .layers-help-search select{
        height: 32px;
        margin-top: -4px;
    }

    #layers-marketplace #layers-marketplace-search{
        max-width: 200px;
    }

    #layers-marketplace .layers-product{
        margin-right: 2%;
        overflow-y: hidden;
    }

    #layers-marketplace .layers-marketplace-actions{
        overflow: hidden;
        padding: 15px 0;
        margin: 0 15px;
        background-color: #fff;
        border-top: 1px solid #eee;
    }

    #layers-marketplace .layers-marketplace-actions .theme-rating{
        padding-top: 4px;
    }

    #layers-marketplace .theme-overlay .theme-screenshots img{
        border: 1px solid #ddd;
        width: 100%;
    }

    #layers-marketplace .theme-overlay .theme-author-img{
        border-radius: 100%;
        border: 1px solid #ddd;
        float: left;
        max-width: 45px;
    }

    #layers-marketplace .layers-sales-count {
        margin: 0px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 28px;
    }

    #layers-marketplace .theme-overlay .theme-meta {
        float: left;
        padding-top: 2px;
    }

    #layers-marketplace .theme-overlay .theme-meta span, #layers-marketplace .theme-overlay .theme-meta a{
        clear: both;
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    @media only screen and (max-width: 1440px){

        #layers-marketplace .layers-help-search {
            width: 60%;
        }

        #layers-marketplace .layers-product{
            width: 48%;
        }

    }
    @media only screen and (max-width: 1279px){
        .layers-marketplace-actions .star-rating{
            display: none;
        }
    }

/*---------------------------*/
/*- DELETE / CLOSE / LOADING */
div[id*='layers-widget'] .widget-control-actions{
    padding: 0;
    position: absolute;
    z-index: 99;
    top: 11px;
    right: 110px;
    border-radius: 100px;
    font-size: 0px;
}
div[id*='layers-widget'] .widget-control-actions a{
    display: inline-block;
    padding: 0 8px;
    margin: 0 0 0 5px;
    border-radius: 3px;
    background-color: #2EA2CC;
    border: 1px solid #0D5F83;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
    font-size: 11px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
}
div[id*='layers-widget'] .widget-control-actions a:hover{
    background: #1E8CBE;
}
div[id*='layers-widget'] .widget-control-actions .widget-control-remove{
    background-color: #FF5353;
    border-color: #BC3F39;
}
div[id*='layers-widget'] .widget-control-actions .widget-control-remove:hover{
    background-color: #F2413D;
}
div[id*='layers-widget'] .spinner{
    display: none;
    margin: 2px -3px 0 5px;
    background: url(images/spinner.gif) right no-repeat;
    background-size: 20px 20px;
    opacity: 1;
}
/* Widget Peek Button */
div[id*='layers-widget'] .widget-control-actions .alignleft{
	float: right;
}
div[id*='layers-widget'] .widget-control-actions .alignright{
	float: right;
}
.widget-control-actions .layers-widget-peek-button {
    float: right;
    display: block;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0 6px;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.widget-inside.layers-peek-widget{
    opacity:0 !important;
}

/*
div[id*='layers-widget'] .widget-control-actions .alignleft {
    float:right;
}
div[id*='layers-widget'] .widget-control-actions .alignright {
    float:left;
    margin-right: 6px;
}
div[id*='layers-widget'] .spinner{
    display: inline-block;
    margin: 2px -3px 0 5px;
    background: url(images/spinner.gif) right no-repeat;
    background-size: 20px 20px;
    opacity: 0;
    transform: translate(-20px, 0px);
    transition: .3s ease-in-out;
}
.previewer-loading div[id*='layers-widget'] .spinner{
    opacity:1;
    transform: translate(0px, 0px);
}
*/

/*---------------------------*/
/*- CONTAINERS --------------*/
.layers-container{
    max-width: 1000px;
    margin: auto;
}
.layers-container-large{
    position: relative;
    z-index: 99;
}
.layers-content-small{
    padding: 10px;
}
.layers-content{
    padding: 20px;
    position: relative;
}
.layers-content-large{
    padding: 40px;
    position: relative;
}
.layers-content-massive{
    padding: 60px;
    position: relative;
}
.layers-content img{
    max-width: 100%;
    height: auto;
}
.layers-well{
    background: #fff;
}
.layers-well-alt{
    background: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.layers-panel{
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
}
.layers-modal-container{
   position: fixed;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    padding: 20px;
}
.layers-modal{
    padding: 50px;
    background: #fff;
    max-width: 660px;

}
.layers-vertical-center{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% ,-50%);
    transform: translate(-50% ,-50%);
}

/*---------------------------*/
/*- ICONS -------------------*/
[class^="icon-"], [class*=" icon-"]{
    font-size: 32px;
}
[class*="icon-"].layers-small{
    font-size: 16px;
}
[class*="icon-"].layers-large{
    font-size: 64px;
}
.layers-icon-wrapper{
    display: block;
}
.layers-icon-description{
    display: block;
    margin-top: 3px;
    opacity: 0.75;
    font-size: 11px;
    font-weight: 600;
    text-transform: none;
}
.layers-icon-group{
    overflow: hidden;
    padding: 2px 1px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: inline-block;
}
.layers-icon-group .layers-icon-wrapper{
    display: block;
    float: left;
    width: 16px;
    margin: 0 1px !important;
    padding: 3px 9px !important;
}
.layers-icon-group .layers-icon-wrapper [class^="icon-"], .layers-icon-group .layers-icon-wrapper [class*=" icon-"]{
    font-size: 16px;
}
.layers-icon-group .layers-icon-wrapper .layers-icon-description{
    display: none !important;
}

.layers-icon-group .layers-icon-wrapper.layers-select-images{
    clear: both;
    width: 100%;
}
.layers-icon-group .layers-icon-wrapper img{
    max-width: 100%;
}

    /*---------------------------*/
    /*- INLINE ICON DESCRIPTION -*/
    .layers-visuals-wrapper.layers-visuals-inline .layers-icon-wrapper{
        text-align: left;
    }
    .layers-visuals-wrapper.layers-visuals-inline .layers-icon-wrapper{
        padding: 5px; margin: 0 0 5px;
    }
    .layers-visuals-wrapper.layers-visuals-inline .layers-icon-wrapper [class^="icon-"],
    .layers-visuals-wrapper.layers-visuals-inline .layers-icon-wrapper [class*=" icon-"]{
        vertical-align: middle;
    }
    .layers-visuals-wrapper.layers-visuals-inline .layers-icon-wrapper .layers-icon-description{
        display: inline-block;
        margin: 0 0 0 5px;
    }

/*---------------------------*/
/*- THE GRID ----------------*/

    .layers-row:before, .layers-row:after{
        content: " ";
        display: table;
    }
    .layers-row:after{
        clear: both;
    }
    .layers-row{
        *zoom: 1;
    }

    .layers-clearfix:before,
    .layers-clearfix:after{
        content: " ";
        display: table;
    }
    .layers-clearfix:after{
        clear: both;
    }
    .layers-clearfix{
        *zoom: 1;
    }

    .layers-column{
        float: left;
        margin: 0 2% 20px 0;
        position: relative;
        box-sizing: border-box;
    }
    .layers-column-flush{
        float: left;
        margin: 0;
        position: relative;
        box-sizing: border-box;
    }
    .layers-row .layers-column:last-child{
        margin-right: 0;
    }
    .layers-row:last-child .layers-column {
        margin-bottom: 0;
    }

    .layers-span-1{width: 6.5%;}
    .layers-span-2{width: 15%;}
    .layers-span-3{width: 23.5%;}
    .layers-span-4{width: 32%;}
    .layers-span-5{width: 40.5%;}
    .layers-span-6{width: 49%;}
    .layers-span-7{width: 57.5%;}
    .layers-span-8{width: 66%;}
    .layers-span-9{width: 74.5%;}
    .layers-span-10{width: 83%;}
    .layers-span-11{width: 91.5%;}
    .layers-span-12{width: 100%;}

    .layers-column-flush.layers-span-1{width: 8.333333%;}
    .layers-column-flush.layers-span-2{width: 16.6667%;}
    .layers-column-flush.layers-span-3{width: 25%;}
    .layers-column-flush.layers-span-4{width: 33.33333%;}
    .layers-column-flush.layers-span-5{width: 41.66665%;}
    .layers-column-flush.layers-span-6{width: 50%;}
    .layers-column-flush.layers-span-7{width: 58.1%;}
    .layers-column-flush.layers-span-8{width: 66.4%;}
    .layers-column-flush.layers-span-9{width: 74.7%;}
    .layers-column-flush.layers-span-10{width: 83%;}
    .layers-column-flush.layers-span-11{width: 91.3%;}
    .layers-column-flush.layers-span-12{width: 100%;}

    .layers-row .layers-column.layers-span-1:nth-child(12n+12){margin-right: 0;}
    .layers-row .layers-column.layers-span-2:nth-child(6n+6){margin-right: 0;}

    .layers-row .layers-column.layers-span-3:nth-child(4n+4){margin-right: 0;}
    .layers-row .layers-column.layers-span-3:nth-child(4n+5){clear: left;}

    .layers-row .layers-column.layers-span-4:nth-child(3n+3){margin-right: 0;}
    .layers-row .layers-column.layers-span-4:nth-child(3n+4){clear: left;}

    .layers-row .layers-column.layers-span-6 + .layers-span-6{margin-right: 0;}
    .layers-row .layers-column.layers-span-6:nth-child(2n+3){clear: left;}

    .layers-middled{
        margin-left: auto;
        margin-right: auto;
    }
    .layers-no-gutter{
        margin-right: 0;
    }

    /*-----------------------*/
    /*- BROAD BASED COLUMNS -*/
    div[class*='layers-columns-'] div[class*='layers-span'],
    div[class*='layers-columns-'] .layers-sortable-drop{
        float: left;
        padding: 10px;
        margin: 0;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        transform: scale(1);
    }

    div[class*='layers-columns-'] div[class*='layers-span'].ui-sortable-helper{
        transition: none;
    }
    div[class*='layers-columns-'] div[class*='layers-span'].ui-sortable-helper:active{
    }
    .layers-columns-4 .layers-span, .layers-columns-4 .layers-sortable-drop{width: 25%;}
    .layers-columns-3 .layers-span, .layers-columns-3 .layers-sortable-drop{width: 33%;}
    .layers-columns-2 .layers-span, .layers-columns-2 .layers-sortable-drop{width: 50%;}
    .layers-columns-1 .layers-span, .layers-columns-1 .layers-sortable-drop{width: 100%;}

        .layers-columns-3 .layers-span-position-4{display: none;}

        .layers-columns-2 .layers-span-position-3,
        .layers-columns-2 .layers-span-position-4{display: none;}

        .layers-columns-1 .layers-span-position-2,
        .layers-columns-1 .layers-span-position-3,
        .layers-columns-1 .layers-span-position-4{display: none;}

    /*-----------------------*/
    /*- COLUMN TWEAKERS -----*/
    .no-gutter{margin-right: 0;}
    .middled, .row .column.middled{float: none; margin: auto;}
    .layers-last{ margin-right: 0; }

    .layers-drag{
        display: block;
        height: 8px;
        margin-bottom: 10px;
        background: url(images/drag.png) top center repeat-x;
        cursor: move;
        opacity: 0.5;
        transition: 0.2s all ease-in-out
    }
    .layers-drag:hover{opacity: 1;}

/*---------------------------*/
/*- ELEMENT CONTROLLERS -----*/
.layers-pull-right{
    float: right;
}
.layers-pull-left{
    float: left;
}
.layers-clear{
    clear: both;
}
.layers-no-push-bottom{
    margin-bottom: 0 !important;
}

.layers-push-top{
    margin-top: 20px !important;
}
.layers-push-top-small{
    margin-top: 10px !important;
}
.layers-push-top-medium{
    margin-top: 30px !important;
}
.layers-push-top-large{
    margin-top: 40px !important;
}
.layers-push-top-massive{
    margin-top: 60px !important;
}

.layers-push-bottom{
    margin-bottom: 20px !important;
}
.layers-push-bottom-small{
    margin-bottom: 10px !important;
}
.layers-push-bottom-medium{
    margin-bottom: 30px !important;
}
.layers-push-bottom-large{
    margin-bottom: 40px !important;
}
.layers-push-bottom-massive{
    margin-bottom: 60px !important;
}
.layers-push-right{
    margin-right: 20px !important;
}
.layers-push-right-small{
    margin-right: 10px !important;
}
.layers-push-right-medium{
    margin-right: 30px !important;
}
.layers-push-right-large{
    margin-right: 40px !important;
}
.layers-push-right-massive{
    margin-right: 60px !important;
}

.layers-push-left{
    margin-left: 20px !important;
}
.layers-push-left-small{
    margin-left: 10px !important;
}
.layers-push-left-medium{
    margin-left: 30px !important;
}
.layers-push-left-large{
    margin-left: 40px !important;
}
.layers-push-left-massive{
    margin-left: 60px !important;
}

.layers-push-right{
    margin-right: 20px !important;
}
.layers-push-right-small{
    margin-right: 10px !important;
}
.layers-push-right-medium{
    margin-right: 30px !important;
}
.layers-push-right-large{
    margin-right: 40px !important;
}
.layers-push-right-massive{
    margin-right: 60px !important;
}

.layers-push-left{
    margin-left: 20px !important;
}
.layers-push-left-small{
    margin-left: 10px !important;
}
.layers-push-left-medium{
    margin-left: 30px !important;
}
.layers-push-left-large{
    margin-left: 40px !important;
}
.layers-push-left-massive{
    margin-left: 60px !important;
}
.layers-t-left{
    text-align: left;
}
.layers-t-center{
    text-align: center;
}
.layers-t-right{
    text-align: right;
}
.layers-animate{
    transition: all 0.2s ease-in-out;
}

/*---------------------------*/
/*- FORM ELEMENTS -----------*/

    .layers-form-item{
        clear: left;
        padding: 0;
        margin: 0 0 15px;
    }
    .layers-form-item:last-child{
        margin-bottom: 0;
    }
    .layers-form-item.layers-column{
        clear: none;
        margin: 0 2% 0 0;
    }
    .layers-form-item.layers-middled{
        margin-left: auto;
        margin-right: auto;
    }
    .layers-form-item label{
        display: block;
        margin-bottom: 2px;
        font-size: 11px;
        text-transform: uppercase;
        color: #777;
        font-weight: 600;
    }

    .customize-control .layers-form-item label{
        color: inherit;
    }
    .customize-control .layers-form-item select{
        width: 100%;
        height: 38px;
        margin: 0;
    }
    .customize-control .layers-form-item select[multiple]{
        min-height: 90px;
    }
    .customize-control .layers-textarea{
        width: 100%;
        padding: 8px;
        margin: 0;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .editible,
    .layers-form-item .layers-input,
    .layers-form-item input[type="text"],
    .layers-form-item input[type="email"],
    .layers-form-item input[type="number"],
    .layers-form-item input[type="password"],
    .layers-form-item input[type="link"],
    .layers-form-item textarea {
        display: block;
        width: 100%;
        padding: 8px;
        margin: 0;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
    .layers-form-item textarea {
        min-height: 100px;
    }
    .layers-small-note{
        color: #777;
        font-size: 11px;
        font-style: italic;
    }
    input[type=text].layers-color-selector.wp-color-picker{
        float: left;
        padding: 3px;
    }
    .editible{
        clear: both;
        color: #000;
        font-size: 14px;
        line-height: 1.4;
        width: 95%;
    }
    .layers-tiny-mce-switch{
        clear: both;
        color: #444;
        display: inline-block;
        float: right;
        font-size: 11px;
        margin-bottom: 0px;
        padding: 4px 6px;
    }
    .layers-form-item input[type=text]:hover,
    .layers-form-item input[type=email]:hover,
    .layers-form-item input[type=number]:hover,
    .layers-form-item input[type=password]:hover,
    .layers-form-item input[type=link]:hover,
    .customize-control .layers-textarea:hover{
        border-color: #ccc;
    }
    .layers-form-item input[type=text]:focus,
    .layers-form-item input[type=email]:focus,
    .layers-form-item input[type=number]:focus,
    .layers-form-item input[type=password]:focus,
    .layers-form-item input[type=link]:focus,
    .customize-control .layers-textarea:focus{
        border-color: #0289C0;
    }
    .layers-form-item input[type=text]:invalid,
    .layers-form-item input[type=email]:invalid,
    .layers-form-item input[type=number]:invalid,
    .layers-form-item input[type=password]:invalid,
    .layers-form-item input[type=link]:invalid,
    .customize-control .layers-textarea:invalid {
        border-color: #FF9898;
        background: rgba(255, 0, 0, 0.1);
    }
    .layers-form-item input[type=text].layers-large,
    .layers-form-item input[type=email].layers-large,
    .layers-form-item input[type=number].layers-large,
    .layers-form-item input[type=password].layers-large,
    .layers-form-item input[type=link].layers-large{
        font-size: 20px;
        line-height: 28px;
    }
    .customize-control .layers-textarea.layers-large{
        font-size: 16px;
        line-height: 28px;
        min-height: 84px;
    }

    /* Hide Number Input Controls */
    .layers-hide-controls[type=number],
    .layers-hide-controls::-webkit-inner-spin-button,
    .layers-hide-controls::-webkit-outer-spin-button {
        -webkit-appearance: none; /*chrome*/
        -moz-appearance: textfield; /*firefox*/
    }

    .layers-form-inline input,
    .layers-form-inline button{
        float: left;
    }
    .layers-form-inline input[type=email]{
        width: 65%;
    }
    .layers-form-inline input[type=email] + button{
        height: 38px;
        width: 35%;
        border-left: 0;
        border-radius: 0 3px 3px 0;
        box-shadow: none;
    }

/*-----------------------*/
/*- CUSTOM CSS EDITOR ---*/

    .layers-css-wrapper textarea {
        height: 260px;
        font-size: 11px;
        font-family: courier new, mono-space;
        color: #000;
    }

    /*-------------------*/
    /*- CHECKBOX --------*/
    .layers-checkbox-wrapper input[type=checkbox]{
        display: none;
    }
    .layers-checkbox-wrapper{
        clear: both;
        margin: 0 0 8px;
    }
    .layers-checkbox-wrapper input[type=submit], .layers-checkbox-wrapper button{
        float: left;
        margin: 0;
    }
    .layers-checkbox-wrapper label:before{
        content:"";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background: #fff url(images/checkbox.png) 0 -32px no-repeat;
        background-size: 16px 16px;
        border: 1px solid #ccc;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        transition: all 0.2s ease-in-out;
        vertical-align: bottom;
    }
    .layers-checkbox-wrapper input[type=checkbox]:checked + label:before{
        background-color: #0289C0;
        background-position: 0 0;
        border-color: #0289C0;
        box-shadow: none;
    }
    .layers-checkbox-wrapper label{
        clear: none;
        display: inline-block;
        font-size: 13px;
        text-transform: none;
        line-height: 18px;
        font-weight: 400;
    }
    .layers-invert .layers-checkbox-wrapper label{
        color: #ccc;
    }

    /*-------------------*/
    /*- RADIO -----------*/
    .layers-radio-wrapper input[type=radio]{
        display: none;
    }
    .layers-radio-wrapper{
        clear: both;
        margin: 0 0 8px;
    }
    .layers-radio-wrapper label:before{
        content:"";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background: #fff url(images/radio.png) 0 -32px no-repeat;
        background-size: 16px 16px;
        border: 1px solid #ccc;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
        vertical-align: bottom;
    }
    .layers-radio-wrapper input[type=radio]:checked + label:before{
        background-color: #0289C0;
        background-position: 0 0;
        border-color: #0289C0;
        box-shadow: none;
    }
    .layers-radio-wrapper label{
        clear: none;
        display: inline-block;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }

/*---------------------------*/
/*- DESIGN BAR --------------*/

    .layers-visuals{
        position: absolute;
        right: 0;
        z-index: 100;
        width: 90px;
        height: 100%;
        background: #f5f5f5;
    }
    .layers-visuals + .layers-container-large{
        width: calc(100% - 90px);
    }
    .layers-visuals-title{
        padding: 13px 0px 13px;
        margin: 0px;
        background: #222;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
    .layers-visuals-item{
        position: relative;
        padding: 1px;
        margin: 0;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

        /*-- ANIMATE ICONS --*/
        .customize-control-widget_form.wide-widget-control div[id*='layers-widget'] .widget-inside .layers-visuals-item{
            opacity: 0;
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }
        .customize-control-widget_form.wide-widget-control.expanded div[id*='layers-widget'] .widget-inside .layers-visuals-item{
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        .layers-visuals-item{transition-delay: 0.25s;}
        .layers-visuals-item:nth-child(2){transition-delay: 0.27s;}
        .layers-visuals-item:nth-child(3){transition-delay: 0.29s;}
        .layers-visuals-item:nth-child(4){transition-delay: 0.31s;}
        .layers-visuals-item:nth-child(5){transition-delay: 0.33s;}
        .layers-visuals-item:nth-child(6){transition-delay: 0.35s;}
        .layers-visuals-item:nth-child(7){transition-delay: 0.37s;}
        .layers-visuals-item:nth-child(8){transition-delay: 0.39s;}
        .layers-visuals-item:nth-child(9){transition-delay: 0.41s;}
        .layers-visuals-item:nth-child(10){transition-delay: 0.43s;}
        .layers-visuals-item:nth-child(11){transition-delay: 0.45s;}

    .layers-visuals-item .layers-icon-wrapper{
        padding: 10px 5px 8px;
        margin: 4px;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 3px;
        text-align: center;
        color: #444;
        outline: 0;
        transition: all 0.2s ease-in-out;
    }
    .layers-visuals-item .layers-icon-wrapper:focus{
        box-shadow: none;
    }
    .layers-visuals-item .layers-icon-wrapper:hover{
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
        background: #2EA2CC;
        border-color: #0074A2;
        color: #fff;
    }
    .layers-visuals-item.layers-active > .layers-icon-wrapper,
    .layers-visuals-item.layers-active > .layers-icon-wrapper:hover{
        background: #e7e7e7;
        border-color: #ccc;
        color: #444;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    .layers-visuals-item .layers-icon-wrapper.layers-active,
    .layers-visuals-item .layers-icon-wrapper.layers-active:hover{
        background: #e7e7e7;
        border-color: #ccc;
        color: #444;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    .layers-visuals-item .layers-icon-error{
        color: #FF5353;
    }
    .layers-visuals-item .layers-icon-error:hover{
        background-color: #FF5353;
        border-color: #BC3F39;
        color: #fff;
    }
    .layers-trbl-fields-wrapper:after{
        content: '';
        display: block;
        clear: both;
        float: none;
    }
    .layers-row.layers-trbl-row {
        padding: 0;
        margin-bottom: 16px;
    }
    .layers-row.layers-trbl-row .layers-column-flush {
        /* width: 25%; */
        position: relative;
        font-weight: normal;
    }
    .layers-row.layers-trbl-row .layers-column-flush:after {
        display:block;
        width:1px;
        height: 12px;
        position:absolute;
        top: 12px;
        right:0;
        content:'';
        background: rgba(0, 0, 0, 0.08);
    }
    .layers-row.layers-trbl-row .layers-column-flush:last-child:after {
        display:none;
    }
    .layers-row.layers-trbl-row .layers-column-flush label {
        position: absolute;
        top: 100%;
        width: 100%;
        margin: 6px 0 0;
        color: #AEAEAE;
        font-size: 10px;
        text-align: center;
        line-height: 12px;
        font-weight: normal;
    }
    .layers-row.layers-trbl-row .layers-column-flush input {
        padding-left: 3px;
        padding-right: 3px;
        margin: -1px 0;
        background: none;
        text-align: center;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .layers-row.layers-trbl-row .layers-column-flush:last-child input { }


    /*-----------------------*/
    /*- SETTINGS POP MENU ---*/
    .layers-pop-menu-wrapper{
        position: absolute;
        top: 5px;
        right: 100px;
        width: 220px;
        background: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 3px;
        max-height: 320px;
        overflow: hidden;
        overflow-y: scroll;
        visibility: hidden;
        opacity: 0;
        transition: all 0.15s ease-in-out 0.1s;
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }
    .layers-visuals-item.layers-last .layers-pop-menu-wrapper{
        top: auto;
        bottom: 5px;
    }
    .layers-visuals-item.layers-active .layers-pop-menu-wrapper{
        right: 95px;
        opacity: 1;
        visibility: visible;
    }
    .layers-pop-menu-setting .background-image{
        display: block;
        max-height: 150px;
        margin-bottom: 15px;
        position: relative;
        vertical-align: middle;
        border-radius: 2px;
        overflow: hidden;
    }
    .layers-pop-menu-setting img{
        max-width: 100%;
        height: auto;
    }
    .layers-pop-menu-setting .layers-form-item{
        padding: 10px;
        margin: 0 -10px;
        border-bottom: 1px solid rgba(0,0,0,0.08);
        opacity: 0;
        transition: 0.25s opacity ease-in-out 0.25s, 0.25s transform ease-in-out 0.25s;
    }
    .layers-pop-menu-setting .layers-form-item:first-child{
        padding-top: 0;
    }
    .layers-pop-menu-setting .layers-form-item:last-child{
        margin-bottom: -10px; /*because the container has 10px padding*/
        border-bottom: none;
    }
    .layers-pop-menu-setting input[type='checkbox'] + label{
        margin-bottom: 0;
    }
    .layers-form-item.layers-form-item-advanced {
        background-color: #FDFDFD;
    }
    /*
    .layers-form-item.layers-form-item-advanced:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        background-color: #B7B7B7;
        height: 100%;
        top: 0;
        width: 3px;
    }
    */
    .layers-form-item.layers-form-item-temp-disable *{
        opacity: .2;
    }

        /*-------------------*/
        /*- POP MENU SMALL --*/
        .layers-pop-menu-wrapper.layers-small{
            top: 0px;
            width: 84px;
            max-height: none;
            overflow: hidden;
        }
        .layers-visuals-item.layers-last .layers-pop-menu-wrapper.layers-small{
            bottom: 0px;
        }
        .layers-small .layers-pop-menu-setting input[type="checkbox"] + label{
            font-size: 11px;
        }
        .layers-small .layers-checkbox-wrapper{
            margin: 0 !important;
        }

    /*-------------------------*/
    /*- SETTINGS - HORIZONTAL -*/
    .layers-content .layers-visuals.layers-visuals-horizontal{
        position: relative;
        right: auto;
        margin: -20px -20px 20px;
        height: auto;
        background-color: #fff;
    }
    .layers-visuals.layers-visuals-horizontal{
        width: auto;
        padding: 0px;
        border-bottom: 1px solid #eee;
    }
    .layers-visuals.layers-visuals-horizontal .layers-visuals-title{
        float: left;
        padding: 12px 16px 9px;
        margin: 0px;
        background: #F0F0F0;
        color: #999;
    }
    .layers-visuals.layers-visuals-horizontal .layers-visuals-wrapper{
        border-left: none;
    }
    .layers-visuals-horizontal .layers-visuals-item{
        float: left;
        border-right: 1px solid #eee;
    }
    .layers-visuals-horizontal .layers-visuals-item.layers-pull-right{
        float: right;
        border-right: none;
    }
    .layers-visuals-horizontal .layers-visuals-item .layers-icon-wrapper{
        padding: 6px 10px;
        margin: 4px 6px;
    }
    .layers-visuals-horizontal .layers-visuals-item.layers-pull-right .layers-icon-error{
        padding: 6px 4px;
        position: relative;
    }
    .layers-visuals-horizontal .layers-visuals-item [class*="icon-"]{
        font-size: 16px;
    }

        /*-------------------*/
        /*- TOOL TIP --------*/
        .layers-visuals-horizontal .layers-icon-description{
            position: absolute;
            top: 43px;
            left: -50%;
            width: 100px;
            padding: 3px;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 3px;
            color: #fff;
            font-size: 11px !important;
            font-weight: normal;
            opacity: 1;
            visibility: hidden;
            transform: translate3d(0, -5px, 0);
            transition: all 0.05s ease-in-out;
        }
        .layers-visuals-horizontal .layers-icon-wrapper:hover .layers-icon-description{
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease-in-out 0.25s;
        }
        .layers-visuals-horizontal .layers-active .layers-icon-wrapper:hover .layers-icon-description{
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0, -5px, 0);
            transition: all 0.1s ease-in-out;
        }

        /*-------------------*/
        /*- TOOL TIP TIP ----*/
        .layers-visuals-horizontal .layers-icon-description:before{
            border: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent;
            border-width: 0 6px 6px 6px;
            content: "";
            position: absolute;
            right: 48px;
            top: -6px;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            transition: all 0.05s ease-in-out;
        }
        .layers-visuals-horizontal .layers-icon-wrapper:hover .layers-icon-description:before{
            opacity: 1;
            visibility: visible;
            transition: all 0.21s ease-in-out 0.25s;
        }
        .layers-visuals-horizontal .layers-active .layers-icon-wrapper:hover .layers-icon-description:before{
            opacity: 0;
            visibility: hidden;
            transition: all 0.1s ease-in-out;
        }


    .layers-visuals-horizontal .layers-pop-menu-wrapper{
        top: 54px !important;
        right: auto;
        left: 0;
        bottom: auto !important;
    }
    .layers-visuals-horizontal .layers-visuals-item.layers-active .layers-pop-menu-wrapper{
        top: 44px !important;
        right: auto;
        transition: all 0.1s ease-in-out 0.1s;
    }
    .layers-visuals-horizontal .layers-pop-menu-wrapper.layers-small{
        width: auto;
    }
    .layers-visuals-horizontal .layers-pop-menu-wrapper .layers-icon-wrapper{
        margin: 5px;
    }

    /*-----------------------*/
    /*- POP UP ANIMATIONS ---*/
    .layers-pop-menu-setting .layers-form-item{transform: translate3d(-10px, 0, 0);}
    .layers-pop-menu-setting .layers-form-item:nth-child(2){transition-delay: 0.27s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(3){transition-delay: 0.29s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(4){transition-delay: 0.31s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(5){transition-delay: 0.33s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(6){transition-delay: 0.35s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(7){transition-delay: 0.37s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(8){transition-delay: 0.39s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(9){transition-delay: 0.41s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(10){transition-delay: 0.43s;}
    .layers-pop-menu-setting .layers-form-item:nth-child(11){transition-delay: 0.45s;}

    .layers-active .layers-pop-menu-setting .layers-form-item{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .layers-pop-menu-setting .layers-icon-wrapper{
        transform: translate3d(-10px, 0, 0);
        opacity: 0;
        transition: 0.25s opacity ease-in-out 0.25s, 0.25s transform ease-in-out 0.25s;
    }
    .layers-pop-menu-setting .layers-icon-wrapper:nth-child(2){transition-delay: 0.27s;}
    .layers-pop-menu-setting .layers-icon-wrapper:nth-child(3){transition-delay: 0.29s;}
    .layers-pop-menu-setting .layers-icon-wrapper:nth-child(4){transition-delay: 0.31s;}
    .layers-pop-menu-setting .layers-icon-wrapper:nth-child(5){transition-delay: 0.33s;}
    .layers-pop-menu-setting .layers-icon-wrapper:nth-child(6){transition-delay: 0.35s;}
    .layers-pop-menu-setting .layers-icon-wrapper:nth-child(7){transition-delay: 0.37s;}
    .layers-pop-menu-setting .layers-icon-wrapper:nth-child(8){transition-delay: 0.39s;}

    .layers-active .layers-pop-menu-setting .layers-icon-wrapper{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    /*-----------------------------*/
    /*- RICH TEXT EDITING ---------*/

    .layers-form-item .froala-box{
        width: 100%;
        border: 0;
    }

    .froala-element.froala-view{
        border: 1px solid #DDD;
    }

    .froala-editor.f-basic{
        background: #FFF;
        border: 1px solid #E5E5E5;
        border-bottom: 0;
        transition: .2s ease-in-out .2s;
        overflow: hidden;
        height: 38px;
    }

    .froala-box.froala-toolbar-hide .froala-editor.f-basic{
        transform: translate( 0, 30px );
        height: 0;
        opacity:0;
    }

    .layers-form-item .froala-editor button.fr-bttn,
    .layers-form-item .froala-editor button.fr-trigger{
        width: 33px;
        line-height: 14px;
        font-size: 14px;
        padding: 2px;
        margin: 4px;
        border: 1px solid transparent;
        border-radius: 3px;
        color: #444;
        transition: all 0.2s ease-in-out 0s;
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0) inset;
    }

    .layers-form-item .froala-editor button.fr-bttn:hover,
    .layers-form-item .froala-editor .bttn-wrapper:not(.touch) button.fr-bttn:hover,
    .layers-form-item .froala-editor button.fr-bttn.active:hover{
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
        background: #2EA2CC;
        border-color: #0074A2;
        color: #FFF;
    }

        /*-------------------------*/
        /*- WHEN IN HTML MODE -----*/
        .layers-form-item .f-html .froala-editor button.fr-bttn:hover,
        .layers-form-item .f-html .froala-editor .bttn-wrapper:not(.touch) button.fr-bttn:hover,
        .layers-form-item .f-html .froala-editor button.fr-bttn.active:hover{
            border-color: transparent;
            box-shadow: none;
        }
        .layers-form-item .froala-editor .bttn-wrapper:not(.touch) button.fr-bttn.active,
        .layers-form-item .froala-editor .bttn-wrapper:not(.touch) button.fr-bttn:active{
            border-color: rgba(0, 0, 0, 0.05);
            color: #444;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03) inset;
            background-color: #F0F0F0;
            transition: 0s;
        }
        .layers-form-item .froala-editor button.fr-bttn i{
            font-size: 14px;
        }
        .layers-form-item .f-html .froala-element{
            background-color: #2c2c2c;
            padding: 0;
        }
        .layers-form-item .f-html .froala-element textarea{
            color: #eee;
            font-size: 13px;
            padding: 5px 6px;
        }

        /*-------------------------------*/
        /*- RTE LIST STYLING --------*/
        /*-------------------------------*/

        .froala-view li{
            list-style-type: inherit;
            overflow: visible;
        }
        .froala-view li ul,
        .froala-view li ol {
            padding:0 10px;
        }

        .froala-view ul,
        .froala-view ol {
            padding: 0 0 0 10px;
            overflow: visible;
        }
        .froala-view ul,
        .froala-view ol{
            margin: 0;
            padding-bottom: 10px;
        }
        .froala-view ul {
            list-style-type:disc;
        }
        .froala-view ol {
            list-style-type:decimal;
        }
        .froala-view ol ol {
            list-style: upper-alpha;
        }
        .froala-view ol ol ol {
            list-style: lower-roman;
        }
        .froala-view ol ol ol ol {
            list-style: lower-alpha;
        }

/*-----------------------------*/
/*- CUSTOMIZER CONTROLS -------*/

li[id*='accordion-section-layers'] .customize-control{
    margin: 6px 0;
}
li[id*='accordion-section-layers'] .customize-control.customize-control-layers-heading{
    /* margin:0; */
}

li[id*='accordion-section-layers'] .customize-control:first-child{
    margin: 6px 0 0px;
}
li[id*='accordion-section-layers'] .customize-control .customize-control-title{
    display: block;
    margin-bottom: 6px;
    font-size: 13px;
    text-transform: none;
    line-height: inherit;
    font-weight: normal;
}
li[id*='accordion-section-layers'] hr{
    border: 0;
    border-top: 0;
    border-bottom: 1px solid #EEE;
    margin: 8px 0;
}
li[id*='accordion-section-layers'] .customize-control .layers-form-item{
    margin: 0 0 6px;
}
li[id*='accordion-section-layers'] .customize-control .heading-label .customize-control-title{
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 4px;
}
li[id*='accordion-section-layers'] .customize-control .description{
    color: #999 !important;
    margin: -2px 0 8px;
    font-size: 13px;
}
li[id*='accordion-section-layers'] .customize-control .layers-customize-control.layers-customize-control-heading{
    margin: 0;
}
li[id*='accordion-section-layers'] .customize-control .layers-customize-control.layers-customize-control-heading .customize-control-title{
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: none;
    margin: 0;
}
li[id*='accordion-section-layers'] .customize-control .wp-color-result{
    margin: 0;
}
li[id*='accordion-section-layers'] .customize-control.customize-control-image .actions{
    margin-bottom: 0;
}
.customize-control-site_logo .current img{
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    background-image: url(../assets/images/transparent-tile.png);
    border-radius: 4px;
    box-sizing: border-box;
}

    /*----------------------------------*/
    /*- HEADING DIVIDER - ALL CONTROLS -*/

    table.layers-heading-divider {
        width: 100%;
        margin: 6px 0 0;
        padding: 0;
        border-spacing: 0;
    }
    table.layers-heading-divider tr {
        margin: 0;
        padding: 0;
    }
    table.layers-heading-divider tr td:first-child {
        padding-right: 6px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        text-transform: none;
        margin: 0;
        white-space: nowrap;
    }
    table.layers-heading-divider tr td:last-child {
        width: 100%;
    }
    table.layers-heading-divider tr td:last-child div{
        border-bottom: 1px solid #EEE;
        height: 2px;
    }
    li[id*='accordion-section-layers'] .customize-control table.layers-heading-divider .customize-control-title {
        display: block;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        margin: 0 0 6px;
    }

    /*----------------------------------------*/
    /*- HEADING DIVIDER - DEDICATED CONTROLS -*/

    li[id*='accordion-section-layers'] .customize-control.customize-control-layers-heading-divider {
        margin-top: 12px;
    }
    li[id*='accordion-section-layers'] .customize-control.customize-control-layers-heading-divider table.layers-heading-divider .customize-control-title {
        margin: 0;
    }
    li[id*='accordion-section-layers'] .customize-control.customize-control-layers-heading-divider .description{
        margin-top: 3px;
    }

    /*-----------------------------*/
    /*- RANGE + NUMBER CONTROL ----*/

    .layers-customize-control-range input[type="range"]{
        width: 68%;
        display: inline-block;
        height: 11px;
        padding: 0;
        margin: 0;
    }
    .layers-customize-control-range input[type="number"] {
        width: 25%;
        margin: 0 0 0 5%;
        display: inline-block;
    }

    /*---------------------------*/
    /*- CONTROL DEFAULT RESET ---*/

    .customize-control-history{
        position: absolute;
        right: 12px;
        margin-top: -3px;
        opacity: 0;
        transition: 0.08s;
    }
    .customize-control-history a{
        padding: 0px 6px;
        line-height: 19px;
        text-align: center;
        border-radius: 3px;
        color: #8A8A8A;
        font-weight: normal;
        font-size: 11px;
        white-space: nowrap;
        width: auto;
        margin: 0;
        border: 1px solid transparent;
        outline: none;
        box-shadow: none;
    }
    .customize-control-history a span{
        margin-right: 2px;
        opacity: 0;
        transition: 0.05s;
    }

    .customize-control:hover .customize-control-history{
        opacity: 1;
    }
    .customize-control-history a:hover{
        background-color: #00A0D2;
        color: white;
        border: 1px solid #0073AA;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.21), 0 1px 1px rgba(0, 0, 0, 0.14);
    }

/*---------------------------*/
/*- TITLES ------------------*/
.layers-logo{
    display: block;
    float: right;
    width: 88px;
    height: 21px;
    margin-top: 27px;
    background: url(images/layers-logo-dark.png) no-repeat bottom;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
    opacity: 0.5;
}
.layers-logo:hover{
    opacity: 1;
}
.layers-controls-title{
    padding: 8px 20px;
    background: #0074A2;
    border-bottom: 1px solid #006086;
    overflow: hidden;
}
.layers-controls-title .layers-heading{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    text-indent: 0;
}
.layers-heading{
    margin-top: 0;
    padding-top: 0;
}
.layers-heading .layers-small{
    color: #777;
    font-size: 12px;
    font-weight: 400;
}
.layers-excerpt{
    color: #777;
}

.layers-section-title{
    margin-bottom: 30px;
}
.layers-section-title .layers-heading{
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 38px;
    color: #222;
    font-weight: 400;
}
.layers-section-title .layers-excerpt{
    max-width: 830px;
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
}
.layers-section-title .layers-excerpt p{
    font-size: 20px;
    line-height: 30px;
}
.layers-section-title .layers-excerpt + .layers-button{
    margin-top: 20px;
}

    /*-----------------------*/
    /*- SECTION SIZE --------*/
    .layers-section-title.layers-large{
        margin-bottom: 15px;
    }
    .layers-section-title.layers-large .layers-heading{
        font-size: 44px;
        line-height: 54px;
        font-weight: 300;
    }
    .layers-section-title.layers-large .layers-excerpt{
        max-width: 830px;
        font-size: 26px;
        line-height: 36px;
        font-weight: 300;
    }
    .layers-section-title.layers-large .layers-excerpt p{
        font-size: 26px;
        line-height: 36px;
        font-weight: 300;
    }

    .layers-section-title.layers-small{
        margin-bottom: 15px;
    }
    .layers-section-title.layers-small .layers-heading{
        font-size: 24px;
        line-height: 34px;
    }
    .layers-section-title.layers-small .layers-excerpt{
        font-size: 16px;
        line-height: 26px;
    }
    .layers-section-title.layers-small .layers-excerpt p{
        font-size: 16px;
        line-height: 26px;
    }

    .layers-section-title.layers-tiny{
        margin-bottom: 15px;
    }
    .layers-section-title.layers-tiny .layers-heading{
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
    }
    .layers-section-title.layers-tiny .layers-excerpt{
        margin-top: 5px !important;
        font-size: 14px;
        line-height: 24px;
        font-weight: normal;
    }
    .layers-section-title.layers-tiny .layers-excerpt p{
        font-size: 14px;
        line-height: 24px;
        font-weight: normal;
    }

        /*-------------------*/
        /*- ALIGNMENTS ------*/
        .layers-section-title.layers-text-center{
            text-align: center;
        }
        .layers-section-title.layers-text-center .layers-excerpt{
            margin-left: auto;
            margin-right: auto;
        }

    .invert.layers-section-title .layers-heading{
        color: #fff;
    }
    .invert.layers-section-title .layers-excerpt{
        color: rgba(255, 255, 255, 0.95);
    }

/*---------------------------*/
/*- COPY --------------------*/

    .layers-copy{
        color: #656565;
    }
    .layers-copy p{
        padding: 0;
        margin: 0 0 16px;
    }
    .layers-panel .layers-copy{
        padding: 20px;
    }
    .layers-panel .layers-section-title + .layers-copy{
        padding-top: 0;
    }

/*---------------------------*/
/*- BUTTONS -----------------*/

    .layers-button{
        display: inline-block;
        height: 28px;
        margin: 0px;
        padding: 0px 10px 1px;
        background: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 3px;
        white-space: nowrap;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
        vertical-align: middle;
        cursor: pointer;
        color: #555;
        text-decoration: none;
        font-size: 13px;
        line-height: 26px;
        text-align: center;
    }
    .layers-button:before{
        transition: all .2s;
        -webkit-transition: all .2s;
    }
    .layers-button:hover{
        background-color: #f2f2f2;
        color: #555;
    }
    .layers-button:focus{
        box-shadow: none;
    }

    /*-----------------------*/
    /*- PRIMARY BUTTON ------*/
    .btn-primary{
        background: #2EA2CC;
        border-color: #0074A2;
        color: #fff;
    }
    .btn-primary:hover{
        background: #1E8CBE;
        color: #fff;
    }

    /*-----------------------*/
    /*- SECONDARY BUTTON ----*/
    .btn-secondary{
        background-color: #A3C567;
        border-color: #668056;
        color: #fff;
    }
    .btn-secondary:hover{
        background-color: #93B25E;
        color: #fff;
    }

    /*-----------------------*/
    /*- ERROR BUTTON --------*/
    .btn-error{
        background-color: #FF5353;
        border-color: #BC3F39;
        color: #fff;
    }
    .btn-error:hover{
        background-color: #F2413D;
        color: #fff;
    }

    /*-----------------------*/
    /*- LINK BUTTON --------*/
    .btn-link{
        background-color: transparent;
        border-color: transparent;
        color: #2EA2CC;
        text-decoration: underline;
        box-shadow: none;
    }
    .btn-link:hover{
        background-color: transparent;
        color: #1E8CBE;
    }

    /*-----------------------*/
    /*- CANCEL BUTTON -------*/
    .btn-cancel{
        background-color: transparent;
        border-color: transparent;
        color: #A00;
        text-decoration: underline;
        box-shadow: none;
    }
    .btn-cancel:hover{
        background-color: transparent;
        color: #f00;
    }

    /*-----------------------*/
    /*- BUTTON SIZES --------*/
    .layers-button.btn-small{
        height: 24px;
        font-size: 11px;
        line-height: 22px;
    }
    .layers-button.btn-large{
        height: 38px;
        font-size: 16px;
        line-height: 34px;
    }
    .layers-button.btn-massive{
        height: 44px;
        font-size: 18px;
        line-height: 40px;
    }
    .layers-button.btn-full{
        display: block;
    }

    /*-----------------------*/
    /*- BUTTON WELL ---------*/
    .layers-button-well{
        overflow: hidden;
        padding: 10px;
        clear: both;
        border-top: 1px solid #E5E5E5;
        background: #F5F5F5;
    }
    .inside .layers-button-well{
        margin: 0px -12px -12px;
    }

    /*-----------------------*/
    /*- BUTTON COLLECTION ---*/
    .layers-button-collection{
        overflow: hidden;
    }

    /*--------------------------------*/
    /*- LOADING INDICATORS -----------*/

    @-webkit-keyframes loading-background-animation {
        0% { background-position: 0 0; }
        100% { background-position: 50px 50px; }
    }
    @-moz-keyframes loading-background-animation {
        0% { background-position: 0 0; }
        100% { background-position: 50px 50px; }
    }

    .layers-button.layers-loading-button {
        background-image: -webkit-gradient(
                linear,
                0 0,
                100% 100%,
                color-stop(.25, rgba(0, 0, 0, .05)),
                color-stop(.25, rgba(0, 0, 0, 0)),
                color-stop(.5, rgba(0, 0, 0, 0)),
                color-stop(.5, rgba(0, 0, 0, .05)),
                color-stop(.75, rgba(0, 0, 0, .05)),
                color-stop(.75, rgba(0, 0, 0, 0)),
                to(rgba(0, 0, 0, 0))
            );
        background-image: -moz-linear-gradient(
                -45deg,
                rgba(0, 0, 0, .05) 25%,
                rgba(0, 0, 0, 0) 25%,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, .05) 50%,
                rgba(0, 0, 0, .05) 75%,
                rgba(0, 0, 0, 0) 75%,
                transparent
            );

        -webkit-background-size: 50px 50px;
        -moz-background-size: 50px 50px;
        background-size: 50px 50px;

        -webkit-animation: loading-background-animation 2s linear infinite;
        -moz-animation: loading-background-animation 2s linear infinite;
        animation: loading-background-animation 2s linear infinite;

        background-color: #FAFAFA;
        border: 1px solid #CCC;
        background-position: 50%;
        color: #999999;
        pointer-events: none;
    }
    .layers-button.btn-primary.layers-loading-button {
        background-color: #D2D2D2;
        border: 1px solid #A7A7A7;
        color: #FFFFFF;
    }

/*---------------------------*/
/*- LABELS ------------------*/

    .layers-label{
        padding: 0 5px;
        background: #ddd;
        border-radius: 3px;
        font-size: 10px;
        text-transform: uppercase;
        color: #777;
    }

    /*-----------------------*/
    /*- SECONDARY LABEL -----*/
    .label-secondary{
        background: #009DF3;
        color: #fff;
    }


/*---------------------------*/
/*- ACCORDIONS --------------*/

    .layers-accordions{
        padding: 0;
        margin: 0;
    }
    .layers-accordion-item{
        margin-bottom: 0;
    }
    .layers-widget-repeater:after{
        content: '';
        clear:both;
        float: none;
        height: 6px;
        display: block;
    }
    .layers-accordion-item.layers-accordion-item-remove {
        animation: layers-accordion-item-remove-animation .8s cubic-bezier(.65,-0.02,.72,.29);
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
    .layers-accordion-title{
        display: block;
        margin: 0;
        padding: 15px 20px;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        background: #fff;
        border-bottom: 1px solid #ddd;
        color: #555;
        cursor: pointer;

    }
    .layers-accordion-item.open .layers-accordion-title{
        background: #f5f5f5;
    }

    .layers-accordion-title:after{
        display: block;
        border-left: 1px solid #ddd;
        padding: 0 10px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        content: '\e00d';
        font: 400 14px/47px layers-interface;
        color: #aaa;
        cursor: pointer;
    }
    .layers-accordion-item.open .layers-accordion-title:after{
        color: #555;
    }
    .layers-accordion-title:hover{
        background: #f0f0f0; color: #555;
    }
    .layers-accordion-title:hover:after{
        color: #555;
    }
    .layers-accordion-item:first-child .layers-accordion-title{
        border-top-width: 0;
    }
    .layers-accordion-section{
        background: #fff;
    }
    .layers-accordion-section:after{
        content: "";
        display: block;
        float: none;
        clear: both;
        width: 100%;
        clear: both;
    }
    .layers-accordion-item:last-child .layers-accordion-section{
        border-bottom: none;
    }

    @keyframes layers-accordion-item-remove-animation {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        30% {
            opacity: 1;
            transform: translateX(50px);
        }
        80% {
            opacity: 1;
            transform: translateX(-600px);
        }
        100% {
            opacity: 0;
            transform: translateX(-600px);
        }
    }

/*---------------------------*/
/*- ACCORDIONS - SORTABLE ---*/

    .layers-accordions-sortable{}
    .layers-accordions-sortable .layers-accordion-item{
        margin-bottom: 10px;
        border: 1px solid #E8E8E8;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    }
    .layers-accordions-sortable .layers-accordion-item:hover{
        border-color: #ccc;
    }
    .layers-accordions-sortable .layers-accordion-title{
        padding: 10px;
        border-top: none;
        border-bottom: 1px solid transparent;
        cursor: move;
    }
    .layers-accordion-item.open .layers-accordion-title{
        /* border-bottom: 1px solid #E7E7E7; */
    }
    .layers-accordions-sortable .layers-accordion-title:after{
        line-height: 37px;
        border-color: #eee;
    }
    .layers-accordions-sortable .layers-accordion-section{
        border-top: 1px solid #EEE;
        border-bottom: none;
    }

/*---------------------------*/
/*- SORTING (DRAG N DROPS) --*/

    .layers-sortable-drop{
        min-height: 37px;
        background: #fff;
        border: 1px dashed #A3C567;
        text-align: center;
        margin-bottom: 10px;
    }

    .layers-sortable-drop a{
        color: #000;
        display: block;
        font-weight: bold;
        padding: 10px 5px;
        text-align: center;
    }

    .ui-sortable-helper{
        background-color: #fff;
        opacity: 0.95;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05) !important;
    }

/*---------------------------*/
/*- MEDIA -------------------*/

    .layers-media{
        overflow: hidden;
        margin-bottom: 20px;
        display: block;
    }

    .layers-media-image{
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        max-height: 450px;
        overflow: hidden;
    }
    .layers-media-image img{
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
    .layers-media-image.layers-small img{
        max-width: 64px;
    }

    .layers-media .layers-media-body{
        display: block;
        overflow: hidden;
    }
    .layers-media .layers-media-image + .layers-media-body{
        margin-top: 20px;
    }

    .layers-media.layers-image-left .layers-media-image{
        float: left;
        max-width: 50%;
        margin-right: 15px;
    }
    .layers-media.layers-image-right .layers-media-image{
        float: right;
        max-width: 50%;
        margin-right: 0;
        margin-left: 15px;
    }

    .layers-media.layers-image-left .layers-media-image + .layers-media-body{
        margin-top: 0;
    }

    .layers-media .layers-heading{
        font-size: 16px;
        margin: 0;
    }
    .layers-media .layers-media-image + .layers-heading{
        margin-top: 20px;
    }

    .layers-media .layers-excerpt{
        margin: 8px 0 0;
        font-weight: 400;
    }
    .layers-media p{margin-top: 8px;}
    .layers-media ul{margin-top: 8px;}

    .layers-t-center .layers-media-body .layers-excerpt{
        margin-left: auto;
        margin-right: auto;
    }

    .layers-media .layers-btn-group{margin-top: 15px;}
    .layers-media .layers-button{margin-top: 15px;}
    .layers-media .layers-btn-group .layers-button{margin-top: 0px;}


/*---------------------------*/
/*- TOOLTIPS ----------------*/
.tooltip{
    float: right;
    width: 16px;
    height: 16px;
    background: #fff url(images/icon-info.png) center no-repeat;
    background-size: 16px 16px;
    border: 1px solid #ccc;
    border-radius: 100%;
    position: relative;
    cursor: help;
}
.tooltip:after{
    width: 220px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 3px;
    position: absolute;
    right: -10px;
    top: 16px;
    z-index: 98;
    color: #f0f0f0;
    content: attr(tooltip);
    line-height: 24px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-transform: none;
}
.tooltip:before{
    border: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent;
    border-width: 0 6px 6px 6px;
    content: "";
    position: absolute;
    right: 2px;
    top: 10px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;}

.tooltip:hover:after{
    opacity: 1;
    visibility: visible;
    top: 25px;
}
.tooltip:hover:before{
    opacity: 1;
    visibility: visible;
    top: 19px;
}


/*---------------------------*/
/*- NOTICE STYLING ----------*/

    .layers-success{
        display: inline-block;
        padding: 5px 10px;
        background: #fff;
        border: 1px solid #A3C567;
        font-weight: bold;
        color: #A3C567;
        border-left:  4px solid #A3C567;
    }

    /*-----------------------*/
    /*- STATUS NOTICE -------*/
    .layers-status-notice{
        display: block;
        margin-bottom: 10px;
        border: 1px solid;
        color: #fff;
        font-weight: bold;
        overflow: hidden;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        line-height: 32px;
    }
    a.layers-status-notice:hover{
        color: #fff;
        text-decoration: none;
    }
    a.layers-status-notice:hover span{
        text-decoration: underline;
    }
    .layers-status-notice [class^="icon-"],
    .layers-status-notice [class*=" icon-"]{
        float: left;
        width: 32px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        font-size: 14px;
        line-height: 32px;
    }
    .layers-status-notice-heading{
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
    }
    .layers-status-notice-heading span{
        float: left;
        padding: 10px 0 10px 8px;
        overflow: hidden;
    }

        /*-------------------*/
        /*- STATUS COLORS ---*/
        .layers-status-good{
            background: #A3C567;
            border-color: #93B25E;
        }
        .layers-status-neutral{
            background: #2EA2CC;
            border-color: #0074A2;
        }
        .layers-status-bad{
            background: #E1574C;
            border-color: #B0453D;
        }

/*---------------------------*/
/*- ICON STYLING ------------*/
input[type=radio][id*=obox-layers]{display: none;}

.layers-icon{
    text-indent: -999px;
    overflow: hidden;
}

.layers-settings-icon{
    display: block;
    float: left;
    width: 68px;
    margin: 0 10px 10px 0;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    background-size: 68px 26px;
    background-repeat: no-repeat;
    background-position: center 5px;
}
.layers-settings-icon span{
    display: block;
    padding: 0 5px;
    margin: 35px 0 0;
    background-color: #f5f5f5;
    color: #777;
    font-size: 9px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}
input[type=radio]:checked + .layers-settings-icon{
    background-color: #f5f5f5;
}
input[type=radio]:checked + .layers-settings-icon span{
    background-color: #0289C0;
    color: #fff;
}

.layers-settings-icon:last-child{margin-right: 0;}
.layers-settings-icon:hover{border-color: #0289C0}


/*---------------------------*/
/*- RADIO PILLS -------------*/
.layers-radio-pills-collection{
    overflow: hidden;
}
.layers-radio-pills{
    float: left;
    margin-right: 10px;
}
.layers-radio-pills input[type=radio]{
    display: none;
}
.layers-radio-pills span{
    display: block;
    float: left;
    padding: 3px 10px 3px 0px;
    color: #333;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
}
.layers-radio-pills input[type=radio] + label{
    display: block;
    float: left;
    padding: 3px 10px;
    background: #f5f5f5;
    color: #777;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
}
.layers-radio-pills input[type=radio] + label:hover{
    background-color: #0289C0;
    color: #fff;
}

.layers-radio-pills input[type=radio]:first-child + label{border-radius: 3px 0px 0px 3px;}
.layers-radio-pills label:last-child{border-radius: 0px 3px 3px 0px;}


/*---------------------------*/
/*- ONCE OFF CSS ------------*/
.layers-controls-title .btn-collection{}
.layers-controls-title .layers-button{padding: 6px 10px; margin-left: 5px;}

/*---------------------------*/
/*- BACKGROUND UPLOADER -----*/
.layers-image-uploader{
    display: block;
    height: 200px;
    margin-bottom: 15px;
    border: 1px dashed #ddd;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    text-align: center;
}
.layers-image-uploader p{
    padding: 40px 10px 0;
    margin: 60px 0 0;
    background: url(images/icon-bgimage-small.png) top no-repeat;
    background-size: 32px 32px;
    color: #777;
}
.layers-image-uploader:hover{
    border-color: #168ABE;
}
.layers-image-uploader.layers-small{
    min-height: 200px;
}
.layers-image-container{
    position: relative;
}
.layers-image-container .layers-image-display{
    background: #F0F0F0 url(images/icon-bg-image-small.png) center no-repeat;
    background-size: 32px 32px;
    border: 1px dashed #ddd;
    height: 108px;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.layers-image-container.has-image .layers-image-display,
.layers-image-container.layers-has-image .layers-image-display{
    background: none;
    border: none;
    height: auto;
    max-height: 108px;
}
.layers-image-remove{
    display: none;
    width: 16px;
    height: 16px;
    background: #FF5353 url('images/cross.png') no-repeat;
    background-size: 16px 16px;
    border: 1px solid #BC3F39;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    color: #fff;
    font-size: 11px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    text-indent: -999px;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
}
.layers-image-remove:hover{
    background-color: #F2413D;
}
.layers-image-display img{
    display: block;
    height: auto;
    margin: 0 auto 10px;
    border-radius: 3px;
}
.layers-image-display img + .layers-image-remove{
    display: block;
}

/*---------------------------*/
/*- ELEMENT CONTROLLER ------*/
.layers-media-controller{
    background: #f5f5f5;
    border: 1px solid #ddd;
    overflow: hidden;
}
.layers-media-controller .layers-section-links{
    float: left;
    width: 52px;
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
}
.layers-media-controller .layers-section-links li{
    margin: 0;
    border-bottom: 1px solid #ddd;
}
.layers-media-controller .layers-section-links li.active{
    margin-right: -1px;
    background: #fff;
}
.layers-media-controller .layers-section-links a{
    display: block;
    width: auto;
    padding: 10px;
    transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1) 0s;
    outline: none;
    color: #777;
}
.layers-media-controller .layers-section-links a:hover{
    background-color: #fff;
    color: #000;
}
.layers-media-controller .layers-section-links li.active a{
    color: #000;
}

.layers-media-controller .layers-controller-elements{
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #DDD;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.layers-media-controller .layers-controller-elements .layers-content{
    height: 0;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.layers-media-controller .layers-controller-elements .layers-content.section-active{
    height: 290px;
    padding: 20px;
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
}
.layers-media-controller .layers-controller-elements .layers-form-item{
    margin: 20px 0 60px;
    transition: margin 0.5s ease-in-out 0.2s;
}
.layers-media-controller .layers-controller-elements .section-active .layers-form-item{
    margin: 0 0 15px;
}
.layers-media-controller .layers-controller-elements .layers-checkbox{
    margin: 20px 0 100px;
    transition: margin 0.5s ease-in-out 0.2s;
}
.layers-media-controller .layers-controller-elements .section-active .layers-checkbox{
    margin: 0 0 8px;
}

/*---------------------------*/
/*- MAP CONTAINER -----------*/
.layers-map-container{
    display: block;
    padding: 0;
    min-height: 300px;
    background: #f8f8f8 url(images/icon-map-large.png) center no-repeat;
    background-size: 64px 64px;
    border: 2px solid transparent;
    border-radius: 3px;
}
.layers-map img{max-width: none;}

/*---------------------------*/
/*- TABBED NAV --------------*/
.layers-nav-tabs{
    text-align: center;
}
.layers-nav-tabs ul{
    margin: 0;
    background: #F3F3F3;
    margin-top: -6px;
    margin: -6px -12px 0;
    width: 101.6%;
    border-bottom: 1px solid #eee;
}
.layers-nav-tabs li{
    float: left;
    margin: 0px;
}
.layers-nav-tabs a{
    display: block;
    padding: 10px 15px;
    background: #F3F3F3;
    font-weight: 600;
    color: #8F8F8F;
    text-decoration: none;
    border-right: 1px solid #eee;
    border-top: none;
    border-bottom: none;
    margin: 0px;
}
.layers-nav-tabs a:hover{
    color: #454545;
    background: #F3F3F3;
}
.layers-nav-tabs .active a{
    background: #fff;
    border-bottom: 0 none;
    color: #454545;
}

/*---------------------------*/
/*- COLOR PICKER ------------*/
.wp-picker-container .iris-picker{
    width: 200px !important;
    height: 170px !important;
    border-radius: 3px;
}
.wp-picker-container .iris-border .iris-picker-inner{
    width: 200px;
}
.wp-picker-container .iris-picker .iris-square{
    width: 159px !important;
    height: 150px !important;
    margin-right: 4px !important;
}
.wp-picker-container .iris-picker .iris-strip{
    height: 150px !important;
    width: 20px !important;
}


/*---------------------------*/
/*- INTERFACE COPY ----------*/


    /*-----------------------*/
    /*- UPSELL --------------*/
    li[id*="accordion-section-layers"] .customize-control
    .layers-customize-control.layers-customize-control-heading.layers-upsell-tag{
        padding: 8px 10px 5px;
        background: #f5f5f5;
        border-radius: 5px;
    }

    li[id*="accordion-section-layers"] .customize-control
    .layers-customize-control.layers-customize-control-heading.layers-upsell-tag
    .customize-control-title{
        display: inline;
        padding: 1px 5px;
        background: #009EEC;
        border-radius: 3px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 11px;
    }

    /*-----------------------*/
    /*- FEATURE LIST --------*/
    .layers-feature-list{
        margin: 0;
    }
    .layers-feature-list li{
        padding-left: 26px;
        margin-bottom: 10px;
        background: url(images/copy-tick.png) 0 no-repeat;
        background-size: 16px 16px;
    }
    .layers-feature-list li.cross{
        background-image: url(images/copy-cross.png);
        background-size: 16px 16px;
    }

    /*-----------------------*/
    /*- BACKUP PAGE ---------*/
    .layers-load-bar{
        padding: 3px;
        background: #f0f0f0;
        border-radius: 100px;
    }
    .layers-load-bar .layers-progress{
        width: 100%;
        padding: 5px 0px;
        background-color: #2EA2CC;
        border-radius: 100px;
        color: #fff;
        display: block;
        font-weight: bold;
        text-align: center;
    }
    .layers-progress.zero{
        background-color: #fff;
        color: #000;
        width: 100%;
    }
    .layers-progress.complete{
        background-color: #A3C567;
    }


/*---------------------------*/
/*- LAYERS PAGES ------------*/
.layers-area-wrapper{
    margin-left: -20px;
}
.layers-page-title{
    background: #F1F1F1;
}
.highlight{
    background: #009DF3;
    border-color: #0073A6;
}
.layers-page-title + .layers-row{
    border-top: 1px solid #ddd;
}
.layers-page-title.highlight + .layers-row{
    border-top: none;
}
.layers-footer{
    clear: both;
    padding: 10px 0;
    margin: 0 0 0 -20px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #888;
    font-style: italic;
}

.layers-divide{
    padding: 0 0 60px;
    margin: 0 0 60px;
    border-bottom: 2px solid #ddd;
}
#toplevel_page_layers-marketplace .wp-menu-image:before, #toplevel_page_layers-dashboard .wp-menu-image:before {
    content: "\e62f";
    font-family: "layers-interface";
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 1px;
}

    /*-------------------------*/
    /*- WORDPRESS DASHBOARD ---*/
    .layers-ticks-wp li{
        padding-left: 26px;
        background: url("images/tick-wp.png") no-repeat left;
        background-size: 16px 16px;
        color: #777;
    }

    /*---------------------------*/
    /*- HORIZONTAL NAVIGATION ---*/
    .layers-nav-horizontal{
        padding: 0 20px;
        margin-top: 15px;
        background: #fff;
        border: 1px solid #ddd;
        overflow: hidden;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
    }
    .layers-nav-horizontal ul{
        margin: 0;
        padding: 0;
    }
    .layers-nav-horizontal li{
        float: left;
        margin: 0 10px;
    }
    .layers-nav-horizontal li a{
        padding: 15px 0px;
        display: block;
        text-align: center;
        color: #777;
    }

        /*-----------------------*/
        /*- DASHBOARD NAV -------*/
        .layers-dashboard-nav li:last-child{
            border-right: none;
        }
        .layers-dashboard-nav a{
            text-decoration: none;
            border-bottom: 4px solid transparent;
        }
        .layers-dashboard-nav a:hover,
        .layers-dashboard-nav .active a{
            color: #333;
            border-color: #0073A6;
        }
        .layers-dashboard-nav .layers-get-updater{
            padding: 4px 10px;
            margin: 10px 0;
            border: none;
            background: #2EA2CC;
            border: 1px solid #0074A2;
            border-radius: 3px;
            color: #fff;
            box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
        }
        .layers-dashboard-nav .layers-get-updater:hover{
            background: none repeat scroll 0% 0% #1E8CBE;
            color: #fff;
        }

        /*-----------------------*/
        /*- DASHBOARD SEARCH ----*/
        .layers-help-search{
            float: right;
            margin: 10px 0;
        }
        .layers-help-search input[type="search"]{
            margin: 0px;
            padding: 3px 5px;
            max-width: 280px;
            width: 100%;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
        }

        /*-----------------------*/
        /*- PANEL ---------------*/
        .layers-panel-title{
            display: block;
            position: relative;
            margin: 0;
            padding: 10px;
            background: #fff;
            border-bottom: 1px solid #e5e5e5;
            color: #222;
        }
        .layers-panel-title h3,
        .layers-panel-title h4{
            margin: 0;
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
        }
        .layers-panel-title p{
            margin: 5px 0 0;
            color: #777;
        }
        .layers-panel-title a{
            color: #222;
            text-decoration: none;
        }
        .layers-panel-title a:hover{
            color: #0074A2;
        }
        .layers-panel img{
            display: block;
            max-width: 100%;
        }

        /*-----------------------*/
        /*- PAGE LIST -----------*/
        .layers-list{
            padding: 0;
            margin: 0;
        }
        .layers-content .layers-list{}
        .layers-list li{
            padding: 10px;
            margin: 0;
            border-bottom: 1px solid #e5e5e5;
        }
        .layers-list li.tick{
            padding-left: 36px;
            background: url(images/copy-tick.png) 10px 50% no-repeat;
        }

        .layers-list li:last-child{
            border-bottom: none;
        }
        .layers-list h3{
            margin: 0 0 10px;
        }
        .layers-list h4{
            margin: 0 0 10px;
        }
        .layers-list p{
            margin: 0 0 10px;
            color: #777;
        }
        .layers-page-list-title{
            font-weight: bold;
            text-decoration: none;
        }
        .layers-page-edit-links{
            opacity: 0;
            visibility: hidden;
            float: right;
        }
        .layers-list li:hover .layers-page-edit-links{
            opacity: 1;
            visibility: visible;
        }
        .layers-page-edit-links{
            color: #ccc;
        }
        .layers-page-edit-links a{
            color: #999;
            text-decoration: none;
        }
        .layers-page-edit-links a:hover{
            color: #2EA2CC;
        }
        .layers-list cite{
            padding: 1px 3px;
            background: #eee;
            border-radius: 3px;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            font-style: normal;
        }
        .layers-list cite a{
            text-decoration: none;
            color: #595959;
        }

    /*---------------------------*/
    /*- LAYERS ONBOARDING -------*/
    .layers-onboard-wrapper{
        max-width: 1000px;
        margin: auto;
        padding: 40px 35px 0;
        overflow: hidden;
    }

        /*-----------------------*/
        /*- ONBOARD CONTROLLERS -*/
        .layers-onboard-controllers{
            overflow: hidden;
            margin-bottom: 10px;
            text-align: center;
        }
        .layers-onboard-controllers .layers-button.previous-step{
            float: left;
        }
        .layers-onboard-controllers .layers-button.next-step{
            float: right;
        }
        .onboard-nav-dots{
            display: inline-block;
            line-height: 28px;
            text-align: center;
        }
        .onboard-nav-dots .layers-dot{
            display: inline-block;
            background: #ccc;
            width: 20px;
            height: 8px;
            margin: 0 1px 0 0;
            transition: all 0.2s ease-in-out;
            outline: none;
        }
        .onboard-nav-dots .layers-dot:hover{
            background: #555;
        }
        .onboard-nav-dots .layers-dot.dot-active{
            background: #7DC800;
        }
        .onboard-nav-dots .layers-dot:focus{
            box-shadow: none;
        }

        /*-----------------------*/
        /*- ONBOARD SLIDES ------*/
        .layers-onboard-slider{
            overflow: hidden;
            margin-bottom: 20px;
            width: 1000px;
            height: 750px;
            position: relative;
        }
        .layers-onboard-slide{
            position: absolute;
            width: 1000px;
            transform: scale(1);
            transform: translateX(0px);
            transition:  all 0.2 ease-in-out;
        }
        .layers-onboard-slide.layers-onboard-slide-current{
            visibility: visible;
            opacity: 1;
            z-index: 10;
        }
        .layers-onboard-slide.layers-onboard-slide-inactive{
            visibility: none;
            opacity: 0;
            z-index: 1;
            transform: translateX(20px);
            transform: scale(0.95);
        }
        .layers-onboard-slide .layers-column{
        }
        .layers-onboard-slide .layers-content-large{
            min-height: 360px;
        }
        .layers-logo-wrapper{
            padding: 10px;
            background: #f0f0f0;
            border: 1px solid #eee;
            text-align: center;
        }
        .layers-logo-upload{
            padding: 20px;
        }
        .layers-logo-upload img{
            display: inline-block;
        }
        .layers-logo-wrapper .layers-image-container.layers-has-image .layers-image-display{
            max-height: none;
        }
        .layers-demo-video{
            max-height: 490px;
            background: #fff;
            overflow: hidden;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
        }
        .layers-button.disable {
            background: #ADADAD;
            border-color: #9F9F9F;
            color: #fff;
        }

        /*-----------------------*/
        /*- HELP LIST -----------*/
        .layers-help-list{
            margin: 0;
            padding: 0;
            color: #797979;
        }
        .layers-help-list li{
            padding: 0 0 8px;
            margin: 0 0 8px;
            border-bottom: 1px solid #ddd;
            opacity: 0;
            transform: translateX(10px);
            transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        }

            .layers-help-list li:nth-child(1){transition-delay: 0.3s;}
            .layers-help-list li:nth-child(2){transition-delay: 0.35s;}
            .layers-help-list li:nth-child(3){transition-delay: 0.4s;}
            .layers-help-list li:nth-child(4){transition-delay: 0.45s;}
            .layers-help-list li:nth-child(5){transition-delay: 0.5s;}

        .layers-onboard-slide.layers-onboard-slide-current .layers-help-list li{
            opacity: 1;
            transform: translateX(0px);
        }
        .layers-onboard-slide-inactive .layers-help-list li{
            opacity: 0;
            transform: translateX(10px);
        }

        /*------------------------------------------*/
        /*- PRESET LAYOUTS IN ONBOARDING -----------*/
        .layers-template-selector{
            max-height: 490px;
            overflow-y: scroll;
        }
        .layers-template-selector .layers-product{
            width: 48%;
            margin: 0 4% 4% 0;
        }
        .layers-template-selector .layers-product:nth-child(2n+2){
            margin-right: 0;
        }
        .layers-onboard-slide .layers-product:focus{
            border-color: #009eec;
        }
        .layers-onboard-slide .layers-product:focus .layers-product-name{
            background-color: #009eec;
            border-top-color: #009eec;
            color: #fff;
        }
        .layers-onboard-slide .layers-product-actions{
            display: none;
        }
        .layers-template-selector img{
            display: block;
        }

        /*-------------------------------------*/
        /*- PRESET LAYOUTS CONTROLS -----------*/
        .layers-button.layers-proceed-to-customizer{
            position: relative;
        }
        .layers-button.layers-proceed-to-customizer:after{
            display: block;
            position: absolute;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -11px;
            margin-right: 4px;
            z-index: 100;
            content: attr(tooltip);
            padding: 5px 7px;
            opacity: 0;
            visibility: visible;
            transition: all 0.2s ease-in-out;
            overflow: visible;
            background: rgba(0, 0, 0, 0.7);
            line-height: 13px;
        }
        .layers-button.layers-proceed-to-customizer:before{
            content: "";
            display:block;
            position:absolute;
            top: 8px;
            width: 0;
            height: 0;
            right: 100%;
            margin-top: 0px;
            margin-right: -2px;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            border-style: solid;
            border-width: 5px 0 5px 6px;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.7);
        }
        .layers-button.layers-proceed-to-customizer.disable:hover:after,
        .layers-button.layers-proceed-to-customizer.disable:hover:before{
            opacity:1;
        }

/*--------------------------------*/
/*- DISCOVER MORE PHOTOS ---------*/
.layers-discover-more-photos{
    padding: 4%;
    text-align: center;
}

.layers-discover-more-feature{
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;
}

.layers-discover-more-feature .layers-column{
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    background-color: #333333;
}

.layers-discover-more-feature .layers-column img{
    left: -35%;
    max-width: 175%;
    position: absolute;
}

.layers-discover-more-photos .btn-primary{
    color: #fff;
    border: 1px solid #0074A2;
    box-sizing: border-box;
}
.layers-discover-more-photos .btn-primary:hover{
    color: #fff;
}

/*--------------------------------*/
/*- LOADING INDICATORS -----------*/

@-webkit-keyframes move {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}
@-moz-keyframes move {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

.layers-button.layers-loading-button {
    background-image: -webkit-gradient(
            linear,
            0 0,
            100% 100%,
            color-stop(.25, rgba(0, 0, 0, .05)),
            color-stop(.25, rgba(0, 0, 0, 0)),
            color-stop(.5, rgba(0, 0, 0, 0)),
            color-stop(.5, rgba(0, 0, 0, .05)),
            color-stop(.75, rgba(0, 0, 0, .05)),
            color-stop(.75, rgba(0, 0, 0, 0)),
            to(rgba(0, 0, 0, 0))
        );
    background-image: -moz-linear-gradient(
            -45deg,
            rgba(0, 0, 0, .05) 25%,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, .05) 50%,
            rgba(0, 0, 0, .05) 75%,
            rgba(0, 0, 0, 0) 75%,
            transparent
        );

    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;

    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite;

    background-color: #FAFAFA;
    background-position: 50%;
    color: #999999;
    pointer-events: none;
}
